<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Attach</title>
</head>



<body>
{% extends 'index.html' %}
{%block content %}
{{ super() }}
<a href="{{url_for('create_attach')}}" class="btn btn-primary">Create new attach</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">File type</th>
        <th scope="col">Name</th>
        <th scope="col">Size</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    {% for attach in all_attaches %}
    <tr>
        <td>{{attach.file_type}}</td>
        <td>{{attach.name}}</td>
        <td>{{attach.size}}</td>
        <td>{{attach.date_time}}</td>
        <td class="d-flex justify-content-end">
            <a href=# class="btn btn-success">Edit</a>
            <a href=# class="btn btn-danger">Delete</a>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{%endblock%}


</body>
</html>