<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>

{% extends 'index.html' %}
{%block content %}
{{ super() }}

<form method="post">
    {{form.hidden_tag()}}

    <div class="form-group">
        {{form.recipient.label}}
        {{form.recipient}}

        {{form.sender.label}}
        {{form.sender}}

        {{form.messenger.label}}
        {{form.messenger}}

        {{form.content.label}}
        {{form.content}}

        {{form.catagory.label}}
        {{form.catagory}}

        {{form.count_clicks.label}}
        {{form.count_clicks}}
    </div>
    {{form.Submit(class_="btn btn-success")}}
</form>

{%endblock%}


</body>
</html>