<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Users</title>
</head>



<body>
{% extends 'admin_base.html' %}
{%block content %}
{{ super() }}
<a href="{{url_for('create_user')}}" class="btn btn-primary">Create new user</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Password</th>
        <th scope="col">Location</th>
    </tr>
    </thead>

    <tbody>
    {% for user in all_users %}
    <tr>
        <td>{{user.user_id}}</td>
        <td>{{user.display_name}}</td>
        <td>{{user.password}}</td>
        <td>{{user.location}}</td>
        <td class="d-flex justify-content-end">
            <a href="{{url_for('update_user', user_id = user.user_id)}}" class="btn btn-success">Edit</a>
            <a href="{{url_for('delete_user', user_id = user.user_id)}}" class="btn btn-danger">Delete</a>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{%endblock%}


</body>
</html>